<!DOCTYPE html>
<html>
<head>
  <title>Ваш репетитор</title>
  {% include 'stylesheets.html' %}
</head>

<body>

  <div id="app"></div>
  
  {# <button id="test_btn" class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"  style="right:20px;" href=""></button> #}

  {# <button id="login_btn" class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"  style="left:20px;" href=""></button> #}

  {% include 'modal.html' %}

  {% include 'javascripts.html' %}
</body>
</html>





