{% load compress %}
{% load staticfiles %}

{% compress js %}

    {# working app #}
    {# <script src="{% static 'brow/brow.js' %}"></script>#}

    {# <script type="text/javascript" src="{% static 'application/require.js' %}"></script> #}
    <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-material-design/dist/js/ripples.js' %}"></script>

{% endcompress %}
