{# sidebar mobile menu#}
<ul class="side-nav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>

{# left menu#}
<ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
</ul>

{# functionsality menu#}
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a name="">{{ request.user.email }} - id: {{ request.user.id }} - profile_id: {{ request.user.get_profile.id }}</a></li>
  <li>
      <a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
      <ul id="dropdown1" class="dropdown-content">
          {% if request.user.is_authenticated %}
              {% if request.user.is_teacher %}
                  <li><a href="/teacher-account/">Мой кабинет</a></li>
              {% elif request.user.is_student %}
                  <li><a href="/student-account/">Мой кабинет</a></li>
              {% elif request.user.is_admin %}
                  <li><a href="/admin-account/">Кабинет администратора</a></li>
              {% endif %}
              <li><a href="/profile/">Изменить мои данные</a></li>
              <li class="divider"></li>

              <li><a href="/logout/">Выйти</a></li>
          {% else %}
              <li><a href="/login/">Войти</a></li>
              <li><a href="/register-teacher/">Зарегистрироваться как репетитор</a></li>
              <li><a href="/register-student/">Зарегистрироваться как ученик</a></li>
          {% endif %}
      </ul>
  </li>
</ul>
