<nav id="top-menu" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#not-google-plus-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Репетитор</a>
    </div>

    <div class="collapse navbar-collapse" id="not-google-plus-nav">
      <ul class="nav navbar-nav pull-right">        
        {% if user.is_authenticated %}
          <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
          <li><a href="/+{{ user.username }}/settings">Настройки</a></li>
          <li><a href="javascript:void(0)" id="logout_btn">Выйти</a></li>
        {% else %}
          <li><a href="/login">Войти</a></li>
          <li><a href="/register">Зарегистрироваться</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
